<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"></head><body>{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
	<link rel="stylesheet" href="unsolvable_files/main.html">
{% endblock %}

{% block content %}
<div class="container">
	<h2 class="padding" style="text-align: center;">NO SOLUTION</h2>
	<br><br>
	<form action="{% url 'solve:input' %}" class="text-center">
		<input class="btn btn-primary" value="Enter Valid Grid" type="submit">
	</form>
</div>

{% endblock %}
</body></html>